<title>Our band is called…</title>
<link href="/css/hello.css" rel="stylesheet" type="text/css" />

<div id="cover">
  <img src="<%= @album_cover %>" />
</div>
<h1><%= @band_name %></h1>
<h2><%= @album_name %></h2>