/* @override http://localhost:4567/css/hello.css */

body {
	background-color: #B9D7D9;
	width: 400px;
	text-align: center;
	font-family: "Chunk", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 50px auto auto;
	text-shadow: #d8fafe 0 1px 1px;
	color: #2A2829;
}

@font-face {
	font-family: "Chunk";
	src: url(/Chunk.otf);
}

#vinyl {
	width: 400px;
	background: url(/images/vinyl.png) no-repeat 150px;
}

#cover {
	margin: auto;
	width: 240px;
	height: 240px;
	overflow: hidden;
	-moz-box-shadow: 1px 1px 5px #df0000;
	-webkit-box-shadow: 0px 1px 5px #000;
	box-shadow: 0 0 5px #000;
	background-color: #000;
}

img {
	height: 240px;
}

h1 {
	font-size: 40px;
}

h2 {
	color: #493736;
	font-size: 30px;
}

#footer {
	display: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#footer p {
	margin: 0px;
}

a, a:visited {
	color: #668284;
	text-decoration: none;
}

#wtf {
	position: absolute;
	bottom: 70px;
	margin-left: 171px;
}

#made-by {
	position: absolute;
	bottom: 20px;
	margin-left: 137px;
}

iframe {
	position: absolute;
	bottom: 20px;
	margin-left: 30px;
}