<!DOCTYPE html>
<html>
<head>
  <title>Our Band Is Called...</title>
  <meta name="viewport" content="width=500, user-scalable=yes">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
